<div class="list card">

  <div class="item item-avatar">
    <img src="https://upload.wikimedia.org/wikipedia/en/d/d8/Michael_J._Fox_as_Marty_McFly_in_Back_to_the_Future,_1985.jpg">
    <h2>Marty McFly</h2>
    <p>Raleigh, Nort Carolina</p>
    <p>m.mcfly.2015@gmail.com</p>
  </div>

  <div class="item item-body">

  <div class="card" style="text-align:center;">
    <a href="edit-profile.html" class="item item-icon-left">
    <i class="icon super-lock-combination"></i>
    Edit Profile
  </a>
</div>
    <p>
<ul class="list">
<p style="text-align:center;"><b>Area of Expertise</b></p>
  <li class="item item-toggle">
     Food
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Fashion
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Movies
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Travel
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Technology
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
   <li class="item item-toggle">
     Politics
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>    </p>

  </div>

</div>
